<table>
    <tr>
        <th>Username</th>
        <th>E-mail</th>
        <th>Password</th>
    </tr>
    {{#each rows}}
    <tr>
        <td>{{username}}</td>
        <td>{{email}}</td>
        <td>{{password}}</td>
    </tr>
    {{/each}}
</table>